/* change l'estetique principal */
body {
    border-radius: 15px;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff;
     background: linear-gradient(
        215deg,
        #ffffff,
        #b8e6fc,
        #99dbfa
    );
}

/* titre de haut de page */
h1 {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(179, 179, 179, 0.658);
    border: 2px solid #ffffff;
    padding: 10px;
    user-select: none;
}

/* titre qui separe different sujet */
h2 {
 padding: 20px;
 margin: 20px auto;
 color: rgb(0, 0, 0);
 box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
 border-radius: 15px;
 color: rgb(0, 0, 0);
 background-color: rgba(179, 179, 179, 0.658);
 padding: 10px;
 width: 250px;
 text-align: center;
 user-select: none;
 margin-top: 1.5%;
 margin-bottom: 1.5%;
}

/* petit titre comme dans le rapport de stage */
h4{
 padding: 20px;
 margin: 20px ;
 color: rgb(0, 0, 0);
 box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
 border-radius: 15px;
 background-color: rgba(179, 179, 179, 0.658);
 padding: 10px;
 width: 250px;
 text-align: center;
 user-select: none;
}

p {
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
}

/* liste */
ul {
     color: rgb(0, 0, 0);
     padding: 20px;
     margin: 20px;
}

/* lien pour les buttons (ne changent pas de couleur) */
a {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

/* lien visible (changent de couleur) */
.lien {
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-decoration: none;
    transition: 0.3s;
}

.lien:hover {
    color: #00bfff;
}

/* contient les cards */
.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* petit cadre animé */
.card {
    background-color: rgba(179, 179, 179, 0.658);
    width: 180px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
    margin: 20px;
    animation: apparition 1s;
}

.card:hover {
    transform: translateY(-5px);
}

/* text important */
.presentation {
    background-color: rgba(179,179,179,0.658);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    transition: 0.3s;
}

.presentation:hover {
    transform: scale(1.025);
}

/* bouton pour theme sombre/claire */
.theme-btn {
    display: inline-block;
    background-color: rgba(179,179,179,0.658);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    width: fit-content;
}

.theme-btn:hover {
    transform: scale(1.05);
}

/* regroupe les boutons theme et index */
.top-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

/* text de bas de page (mentions ect) */
footer {
    text-align: center;
}

/* animation des card */
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* estetique des images */
.image-stage {
    width: 850px;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    margin-bottom: 2.5%;
}

.grp_img {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
