h1, h2, h3, h4, h6 {
    font-family: star5, monospace;
}

p {
    text-align: left;
}

img {
    width: 200px;
    border-radius: 15px;
    margin: 10px auto;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.2);
}

section {
    background-color: rgb(129, 55, 55);
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    width: 90%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.container .card:nth-child(2) p {
    font-size: 12px;
}
.card p {
    font-size: 13px;
}
.card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.dark .card {
    background-color: #222;
    color: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    margin: 10px auto 0 auto;
}


button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.2);
}

body {
    margin-bottom: 20px;
    color: black;
    text-align: center;
    cursor: auto;
    background-color: white;
    transition: 0.3s;
}

.dark {
    background-color: black;
    color: white;
}

#mot {
    font-size: 35px;
    letter-spacing: 8px;
    margin-top: 20px;
}

#lettre {
    width: 40px;
    text-align: center;
    font-size: 20px;
}

#message {
    font-weight: bold;
    color: red;
}

.speed-mode {
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translate(0px, 0px); }
    25% { transform: translate(2px, -2px); }
    50% { transform: translate(-2px, 2px); }
    75% { transform: translate(2px, 2px); }
    100% { transform: translate(-2px, -2px); }
}
.f1-active {
    background: linear-gradient(90deg, red, black, white);
    animation: speedMove 0.2s infinite;
}
main {
    display: block;
    padding: 20px;
}
body {
    margin-bottom: 20px;
    color: black;
    text-align: center;
    cursor: auto;
    background-color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

p:hover {
    color: white;
}
