
header h1{ 
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 70px;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
    margin: 9px;
    -webkit-transition: all 1.5s ease;
    user-select: none;

}

header b{
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    margin-top:10px;
    font-size: 28px;
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
    -webkit-transition: all 1.5s ease;
    user-select: none;
}

header a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-transition: all 1.5s ease;  
    user-select: none;

    
}
.borderA {
    border: 2px solid #000000;
    padding: 1px;
    display: inline-block;
    transition: all 0.3s ease;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 5px #000000;
    margin-top:auto;
}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('BCO.8e82e667-209c-4ace-9527-c3fe4a85270c.webp');
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: brightness(10%);
}
body {
    overflow-x: hidden;
}



.Text1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
    user-select: none;
    color: white;
    white-space: nowrap;
    animation: slide-in 25s  linear infinite;
}


@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.Sujets {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 10px rgb(0, 0, 0);
    user-select: none;
}



button{
    font-family: "Bebas Neue", sans-serif;
    font-size: 33px;
    border: 1px solid grey;
    border-radius: 10px;
    background:transparent;
    backdrop-filter: blur(70px);
    width: 300px;
    color: white;
    margin-bottom:20%;
    text-align: center;
}
main {
    display: flex;
    gap: 4px;
}
